*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
p a{
    display: inline-flex;
}
li{
    list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}

img{
    width:100%;
    display: block;
    object-fit: cover;
}
::selection{
    background-color:black;
    color:white;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
} 





/* ESTO ES LA CABECERA */

.header{
    width:100%;
    /* min-height: 100px; */
    /* background-color: red */
    padding: 20px 0; 
 }

 .header .centrado{
    width: 80%;
    /* min-height: 100px; */
    /* background-color: orange; */
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
 }


 /* logo pixar  */
 .header .centrado .logo{
    width: 100%;
    max-width: 180px;
    /* min-height: 50px; */
     /* background-color: salmon; */
     
 }



/* menu */

 .header .centrado .nav{
    width: calc( 90% - 150px );
    /* min-height: 50px; */
    /* background-color: pink; */
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
 }

 .header .centrado .nav .ul{
    /* min-height: 50px; */
    /* background-color: pink; */
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
 }

 .header .centrado .nav .ul .li{
     /* min-height: 50px; */
     /* background-color: khaki; */
     margin: 0 0 0 20px;
     font-weight: 600;
     
 }


 /* barras */
 .header .fa-bars{
    display: none;
}





 
/* ESTO ES EL CUERPO*/

.main{
    width: 100%;
}


 /* imagen portada */
.main .soul{
     width: 100% ;
     min-height: 100vh;
     padding: 40px;
     /* background-color: lightblue; */
     background-image: url( ../img/fondosoul.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: flex-end;
     align-content: initial;
 }

.main .soul .logo{
    width: 90%;
    max-width: 560px;
    min-height: 50px;
    /* background-color: blue; */
 }







/* columnas */
.main .columnas{
    width: 100%;
    /* height: 300px; */
    /* background-color: brown; */
    padding: 10vh 0;
}
.main .columnas .centrado{
    width: 80%;
    /* height: 200px; */
    /* background-color: burlywood; */
    margin:auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}
.main .columnas .centrado .columna{
    width: calc( 100% / 3 - 40px);
    /* height: 200px; */
    /* background-color: chocolate; */
}
.main .columnas .centrado .columna .imagen{
    width: 100%;
    min-height: 200px;
    /* background-color: coral; */
    margin: 0 0 40px 0;
   
}
.main .columnas .centrado .columna .titular{
    width: 100%;
    /* background-color: darkcyan; */
    font-weight: 600;
}






/* ESTO ES EL PIE */

.footer{
    width: 100%;
    min-height: 200px;
    /* background-color: darkcyan; */
    font-size: .8em;
}


/* redes sociales */
.footer .rrss{
    width: 100%;
    min-height: 50px;
    /* background-color: lightgreen; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.footer .rrss .red-social{
    /* width: calc( 100% / 4 ); */
    min-height: 50px;
    /* background-color: lime; */
    margin: 0 10px;
}

.footer .rrss .red-social .fab{
    font-size: 2em;
}


/* links */
.footer .links{
    width: 70%;
    height: 50px;
    /* background-color: mediumspringgreen; */
    margin: 20px auto;

    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:initial;
    align-content: center;

}
.footer .links .enlaces{
    min-height: 20px;
    /* background-color: olive; */
    margin: 0 10px;
    padding: 0 0 .2em;

    border-bottom: 1px solid black ;
    
}


/* copy */
.footer .copy{
    width: 50%;
    min-height: 50px;
    /* background-color: lawngreen; */
    margin: auto;

}



/* RESPONSIVE */

@media screen and (max-width:1024px){
    body{
        font-size: 90%;
    }
}

@media screen and (max-width: 960px){

/* cabecera */
    .header .centrado .nav .ul .li{
        display: none;
    }

    .header .fa-bars{
        display: flex;
        font-size: 1.7em;
    }


/* imagen portada */
    .main .soul{
        background-attachment: scroll;
    }


/* columnas */
    .main .columnas .centrado .columna{
        width: 100%;
        margin: 0 0 3em;
    }

     .main .columnas{
        padding: 10vh 0 4vh;
    }


/* pie */
    .footer .links{
        margin: 5em auto;
    }

    .footer .links .enlaces{
        margin: .4em 2em;
        font-size: .8em;
    }

    .footer .copy{
        margin: 6em auto;
        font-size: .8em;
    }
}

/* MODO OSCURO */

@media (prefers-color-scheme: dark) {
    body {
     background-color: black;
     color:white;
   }


   .header .centrado .logo {
        filter: invert(100%);
   }

   
    

}